@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@400;550;600;700;800;900&family=Poppins:wght@300;400;500;600;700&family=Prompt:wght@400;650;700;800&family=Roboto:wght@400;700&display=swap');

*{  
    border-radius: 0.775rem;
    font-family: 'Prompt',sans-serif;
    font-weight: 400;
    color: antiquewhite;
}

.homediv{ 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.292);
    background-blend-mode:darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.optImage{
    margin-top: 6.5vh;
    width: 100vw;
    height: 68vh;
    background-image: url(../Components/BG/HomepageastroCopy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 10px 10px 5px 20vh black;
    background-color: #000;
}


.homecontentDiv{
    height: 95vh;
    width: 100vw;
    text-align: center;
    /* font-family: 'Montserrat'; */
    font-size: 7.5vw;
    line-height: 1.2em;
    overflow:visible;
    animation:forwards;
    padding-bottom: 7vw;
}


.about{
    color: antiquewhite;
}

.abouthead{
    color: rgb(220, 150, 0);
    font-size: x-large;
    font-weight: 700;
    padding-left: 3vw;
    padding-bottom: 0;
}

.abouthead2{
    color: rgb(220, 150, 0);
    font-size: 3rem;
    font-weight: 700;
}

.aboutContent{
    color: whitesmoke;
    text-align: justify;
    margin: 6vw;
    margin-top: 1.3vw;
} 


.KnowMorebtn{
    opacity: 0.8;
    box-sizing: content-box;
    transition: all 0.3s ease;
    width: 10em;
    margin-top: 50px;
    padding: 8px 0;
    text-align: center;
    border-radius: 30px;
    border: 1.5px solid antiquewhite;
    background: linear-gradient(130deg, black 5%,indigo 70%, purple 110%, red 120% );
}

.KnowMorebtn:hover{
    cursor: pointer;
    transform: scalex(1.03);
    opacity: 1;
    border:1.5px solid rgb(218, 128, 32);
}

.FooterDiv{
    margin-top: 15px;
    flex-direction: column;
    font-size: 1.7rem;
    border-top: 1.5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94vw;
    padding: 3vh;
}

.FooterFont{
    font-size: 0.7rem;
    text-align: center;
}

.FooterEnd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 3.5vw ;
    margin-top: 30px;
    font-size: 0.8rem;
    width: 100vw;
}



@media only screen and (min-width : 800px){
    .aboutContent{
        font-size: 1.1rem;
    }

    .homecontentDiv{
        transition: all 1s;
        height: 100vh;
        font-size: 7.2vw;
        line-height: 1em ;
        padding-top: 30vh;
        padding-bottom: 30vh;
    }

    .homediv{
    background: url(../Components/BG/astrobg4edit2.png);
    align-items: center;
    background-blend-mode:darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }

    .optImage{
        display: none;
    }

    .abouthead{
        display: none;
    }

    .aboutheadLarge{
        color: rgb(220, 150, 0);
        font-size: xx-large;
        font-weight: 700;
        padding-left: 3vw;
        padding-bottom: 0;
    }

    .abouthead2{
        font-size: 8vw !important ;
    }

    .FooterFont{
        width: 70vw;
    }
}


@media only screen and (max-width : 800px){
    .about{
        color: antiquewhite;
        margin-top: 8vw;
        margin-bottom: 5vw;
    }

    .aboutheadLarge{
        display: none;
    }

    .FooterEnd{
        text-align: center;
        flex-direction: column !important;
        gap: 2px;
        padding-top: 10px !important;
    }
}


