/* @import url('//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Prompt:wght@400;600&family=Roboto:wght@400;700&display=swap'); */


/* :root{
    --bs-border-radius: 0.775rem;
} */

/* body{
    font-family: "Prompt",sans-serif;
} */
.Toggler{
    border-radius: 0.775rem;
}

.Registerbtn{
    color: antiquewhite;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease;
    margin-top: 50px;
    padding: 2px 25px;
    text-align: center;
    border-radius: 30px;
    border: 1.5px solid antiquewhite;
    background: linear-gradient(130deg, black 5%,indigo 70%, purple 110%, red 120% );
}

.Registerbtn:hover{
    color: goldenrod;
    cursor: pointer;
    transform: scale(1.5);
    opacity: 1;
    border:1.5px solid goldenrod;
}

.Stickybtn{
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    background: rgba(86, 1, 112, 0.7);
    border-radius: 5px;
    cursor: pointer;
}

.NavlinkListElement{
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: white;
}

.NavlinkListElement:hover{
    color: rgb(185, 10, 185) ;
}

.NavlinkListElement:focus{
    color: rgb(185, 10, 185) ;
}



@media only screen and (max-width : 991.5px){
    .Registerbtn{
        opacity: 1;
        background-image: linear-gradient( 0deg,  #000000 38.2%,  #380557 138.2% );
    }

    .Stickybtn{
        background-color:rgba(87, 0, 128, 0.655);
        width: 35px;
        height: 35px;
    }

    #navbarSupportedContent{
        background: #000 !important;
    }
    
    .NavlinkListElement{
        border: 1px solid ;
        color: antiquewhite;
        padding: 2px 10vw ;
        border-radius: 20px;
        background-image: linear-gradient( 0deg,  #000000 38.2%,  #380557 138.2% );
    }

    .NavlinkListElement:hover{
        color: rgb(255, 170, 0) ;
    }
    .NavlinkListElement:focus{
        color: rgb(255, 170, 0) ;
    }
}